.field {
  display: flex;
  flex-direction: column;
}

.field__label {
  font-size: 0.875rem;
  margin-bottom: 6px;
}

.field__input {
  box-sizing: border-box;

  font: inherit;
  color: #2a2520;
  font-size: 1.125rem;
  line-height: 2rem;

  height: 68px;
  padding: 16px;
  border-radius: 8px;
  border: 2px solid #d8cec3;

  &::placeholder {
    color: #8b8178;
  }

  /* :not(.field__input_error) чтобы не перекрывать красную рамку при ошибке */
  &:not(.field__input_error):focus {
    border-color: #7a4725;
  }

  &:not(.field__input_error):not(:disabled):hover {
    border-color: #7a4725;
  }

  &_error {
    border-color: #c94a3a;
    color: #c94a3a;
  }

  // :disabled ниже _error, чтобы перекрывать его
  &:disabled {
    background-color: #f3efea;
    border-color: #f3efea;
    cursor: not-allowed;
  }

  &:invalid {
    color: #8b8178;
  }
}

.field__error {
  font-size: 0.875rem;
  color: #c94a3a;
  margin: 6px 0 0;
}
