.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: 14px;
  border: 2px solid transparent;
  border-radius: 12px;

  background-color: #2f5bcf;
  cursor: pointer;

  color: white;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: 0.04rem;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    border-color: #193494;
  }

  &:disabled {
    background-color: #c0c8d1;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background-color: #2346b1;
  }

  &:not(:disabled):active {
    border-color: #193494;
  }
}
