.statsCard {
  display: flex;
  align-items: center;
  gap: 20px;

  padding: 20px 24px;

  background-color: #faf4ed;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 50%;
  background-color: #5a2e16;
}

.icon {
  width: 40px;
  height: 40px;
}

.text {
  margin: 0 0 8px;

  font-size: 1.2rem;
}

.number {
  margin: 0;

  color: #171717;
  font-size: 1.625rem;
  font-weight: 700;
}
