.profile {
  padding: 40px;

  display: flex;
  flex-direction: column;
}

.title {
  margin: 0 0 20px;

  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  line-height: 1;
  color: #14120f;
  text-transform: uppercase;
}

.underTitle {
  margin: 0 0 20px;

  font-size: 1.2rem;
}

.myBookings {
  margin: 14px 0;

  font-family: "Oswald", sans-serif;
  font-size: 1.75rem;
  color: #14120f;
  text-transform: uppercase;
}
